<!DOCTYPE html>
<div class="navbar">
    <div class="top">
    </div>
    <div class="user" id="usuario">
        <i class="fa-solid fa-circle-user user-logo"></i>
        <h4 class="name" id="nombreUsu"> Bienvenid@, <br> {{ username }}</h4>
    </div>
    <div class="menu">

        <a class="menu-item" [routerLink]="['/home', $id]">
            <i class="fa-solid fa-house-chimney"></i>
            <span>Home</span>
        </a>

        <a class="menu-item" [routerLink]="['/home', $id, 'entidades-financieras']">
            <i class="fa-solid fa-building"></i>
            <span>Entidades financieras</span>
        </a>

    </div>
</div>
