body {
    font-family: 'Be Vietnam', sans-serif;
    color: #000;
}

h1,
h2,
h3 {
    font-family: 'Concert One', cursive;
}

.container {
    background-color: #F2E6CF;
}

.row {
    display: flex;
}

.col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vH;
}

.col-md-6 img {
    width: 600px;
    height: 80vh;
    margin: 0 2rem 0 2rem;
}

.formulario {
    margin: 3rem;
    width: 100%;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 1rem 0 !important;
    display: flex;
}

form label {
    font-family: 'Be Vietnam', sans-serif;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 40px;
    text-align: left;
}

.logo {
    display: flex;
    font-weight: bold;
    font-family: 'Be Vietnam', sans-serif;
    text-align: center;
    margin: 2rem auto;
}

.logo span {
    font-size: 24px;
    width: 100%;
    font-weight: 700;
}

.boton-guardar {
    display: flex;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

input {
    padding: 5px 1em;
    margin: 10px 15px;
    border: none;
    outline: 0;
    color: #000000;
    font-size: 15px;
    font-family: 'Be Vietnam', sans-serif;
    width: 50%;
    background-color: aliceblue;
    border-radius: 15px;
}


button {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 15px;
    border-radius: 15px;
    height: 45px;
    width: 200px;
    border: 1px solid #ffffff;
    background-color: #2f7086;
    color: #fff;
    cursor: pointer;
    margin: 1rem auto;
    padding: 0.3rem 0;
    align-items: center;
}

button[disabled] {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.element>button {
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width: 1100px) {
    .col-md-6 img {
        width: 450px;
        height: 70vh;
        margin: 0 1.5rem 0 3.5rem;
    }

    .button {
        width: 75%;
    }

    .formulario {
        width: 95%;
        margin: auto 2rem;
    }
}

@media screen and (max-width: 900px) {
    .col-md-6 img {
        width: 380px;
        height: 60vh;
        margin: 0 2rem 0 2.5rem;
    }

    .button {
        width: 70%;
    }

    .formulario {
        width: 100%;
        margin: auto 1rem;
    }
}

@media screen and (max-width: 800px) {

    .row {
        flex-direction: column-reverse;
    }

    .formulario {
        width: 80%;
        margin: 4rem auto;
        justify-content: center;
        padding-left: 3.5rem;
    }

    .col-md-6 {
        height: 60vh;
    }

    .col-md-6 img {
        margin: 0;
        width: 500px;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 600px) {

    .row {
        flex-direction: column-reverse;
    }

    .formulario {
        margin: 3rem auto;
        padding-left: 2rem;
    }

    .col-md-6 {
        height: 60vh;
    }

    .col-md-6 img {
        width: 90%;
        margin-bottom: 3rem;
    }
}


@media screen and (max-width: 400px) {
    .formulario {
        margin: 2rem auto;
        padding-left: 0rem;
    }
}