<main>
    <div class="row">
        <h1> Calcular crédito vehicular: </h1>
    </div>

    <div class="entidades">

        <a class="item" (click)="simuladorGo(1)">
            <span>BBVA Continental</span>
            <img src="../../../assets/img/bbva.png" alt="">
        </a>
        <a class="item" (click)="simuladorGo(2)">
            <span>Scotiabank</span>
            <img src="../../../assets/img/scotiabank.jpg" alt="">
        </a>
        <a class="item" (click)="simuladorGo(3)">
            <span>Interbank</span>
            <img src="../../../assets/img/interbank.png" alt="">
        </a>
        <a class="item" (click)="simuladorGo(4)">
            <span>Banco de Crédito <br> del Perú</span>
            <img src="../../../assets/img/bcp.png" alt="">
        </a>
        
    </div>
</main>