main {
    background-color: #f7f0e2;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 450;
    font-size: 24px;
}

h3 {
    font-family: 'Be Vietman', sans-serif;
    font-size: 18px;
    font-weight: 450;
}

span, p {
    font-family: 'Be Vietman', sans-serif;
    font-weight: 450;
    font-size: 16px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.header-container img {
    margin: 1rem auto;
    width: 45%;
}


.clearfix {
    height: 30px;
}

.section-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.col-md-6,
.col-sm-6 {
    width: 50%;
    margin: 0 1rem;
}

.container-what {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid #888888ce;
    padding: 20px 40px;
    width: 60%;
    justify-content: center;
    height: 20%;
}

.container-what p {
    font-family: 'Be Vietman', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
}

.cont-what-title {
    background-color: #f7f0e2;
    font-family: 'Be Vietman', sans-serif;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    position: absolute;
    padding: 5px;
    margin-top: -40px;
}

.content {
    margin-top: 5px;
}

.content-title {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.container-title {
    display: flex;
    width: 10em;
    border-radius: 30px;
    background-color: #fff;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 5px;
    box-shadow: 5px 5px 5px rgb(134, 134, 134);
}

.icons-content {
    display: block;
    width: 100%;
    align-items: center;
}

.icons {
    padding: 7px 5px;
    display: flex;
    align-items: center;
    margin: 10px 30px;

}

.icons span {
    font-family: 'Be Vietman', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    padding-left: 40px;
}

.icons i {
    font-size: 35px;
    justify-content: center;
}

.buttons-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    place-content: center;
    margin: 50px 30px;
}

.btn-content {
    background-color: #fff;
    border: 1px solid #000000a9;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    border-radius: 30px;
    margin: 15px 20px;
    width: 190px;
    padding: 1rem 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1420px) {

    .row {
        width: 100%;
    }

    .col-md-6,
    .col-sm-6 {
        width: 50%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .cont-what-title {
        font-size: 20px;
    }

    .container-what p {
        text-align: justify;
    }

    .container-what {
        width: 50%;
        height: auto;
    }

    .icons-content {
        display: block;
        width: 100%;
        align-items: center;
    }
    
    .icons {
        padding: 7px 5px;
        margin: 10px 0px;
    
    }
    .icons span {
        font-size: 15px;
        padding-left: 30px;
    }

    .icons i {
        font-size: 38px;
    }

    .btn-content {
        width: 160px;
    }
}

@media screen and (max-width: 1100px) {
    .banner-titles h1 {
        margin-left: 0.8em;
        font-size: 22px;
    }

    .banner-titles h3 {
        font-size: 18px;
        margin-right: 1em;
    }

    .header-container img {
        width: 60%
    }

    .section-container {
        width: 100%;
    }

    .col-md-6,
    .col-sm-6 {
        width: 100%;
    }

    .cont-what-title {
        font-size: 18px;
    }

    .container-what p {
        font-size: 17px;
        text-align: justify;
    }

    .container-what {
        width: 40%;
        height: auto;
    }

    .container-title {
        font-size: 20px;
        width: 9em;
    }

    .icons-content {
        width: 90%;
        margin: 0;
    }

    .icons span {
        font-size: 17px;
        padding-left: 20px;
    }

    .icons i {
        font-size: 40px;
    }

    .buttons-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-content {

        font-size: 17px;
        width: 70%;
        padding: 15px 25px;
    }


}

@media screen and (max-width: 900px) {
    .section-container {
        display: block;
    }

    .row {
        display: block;
    }

    .col-md-6,
    .col-sm-6 {
        width: 80%;
        margin: 0 auto;
    }

    .content {
        margin-bottom: 70px;
    }

    .banner-titles h1 {
        margin-left: 0.6em;
        font-size: 20px;
    }

    .banner-titles h3 {
        font-size: 16px;
        margin-right: 1em;
    }

    .header-container img {
        width: 80%
    }


    .container-what p {
        font-size: 18px;
        text-align: justify;
    }

    .btn-content {

        font-size: 17px;
        width: 12rem;
        padding: 15px 25px;
    }

    .cont-what-title {
        font-size: 18px;
    }

    .container-what {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }

    .container-title {
        font-size: 17px;
        margin-bottom: 10px;
        width: 70%;
    }

    .content-title {
        margin-bottom: 15px;
    }

    .icons-content {
        width: 100%;
        margin: 0 auto;
    }

    .icons {
        flex-direction: column;
        margin: 17px 10px;
    }

    .icons span {
        font-size: 17px;
        padding-left: 0px;
    }

    .icons i {
        font-size: 55px;
        margin: 25px 5px;
    }
}